.profile__info {
  display: grid;
  margin: 0 0 0 30px;
  padding: 0;
  grid-column-gap: 18px;
  grid-row-gap: 16px;
  max-width: 336px;
}
@media screen and (max-width: 879px) {
  .profile__info {
    padding: 26px 19px 32px;
    grid-column-gap: 10px;
    grid-row-gap: 7px;
    max-width: 282px;
    margin: 0 auto;
  }
}
