.button {
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;
  background-position: 50%;
  background-color: transparent;
  background-repeat: no-repeat;
}
.button:hover {
  transition: opacity 0.7s ease;
  opacity: 0.6;
}
